@model IEnumerable<SD_115_F22SD_Assessment.Models.Laptop>

@{
    ViewData["Title"] = "Index";
}

<h1>Catalogue of All Available Laptops</h1>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year.Date.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfBusiness)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year.Date.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfBusiness)
            </td>
        </tr>
}
    </tbody>
</table>
<br />
<h4>Filters:</h4>
<br />
<div>
    <a asp-controller="Laptop" asp-action="MostExpensive">The Two Most expensive</a> |
    <a asp-controller="Laptop" asp-action="MostAffordable">The Three Most Affordable</a> |
    <a asp-controller="Laptop" asp-action="LaptopsByNew">All New</a> |
    <a asp-controller="Laptop" asp-action="Index">All Refubrished</a> |
    <a asp-controller="Laptop" asp-action="Index">All Rental</a> |
    <a asp-controller="Laptop" asp-action="Index">Affordability Page</a> |
    <a asp-controller="Laptop" asp-action="CompareLaptops">Compare Laptops</a> |
    <a asp-controller="Laptop" asp-action="Index">Select by Brand</a> |
    <a asp-controller="Laptop" asp-action="Index">Filter by Year</a> |
    <a asp-controller="Laptop" asp-action="Index">Filter by Price</a> |
    <a asp-controller="Laptop" asp-action="Index">Filter by Model</a> |
    <a asp-controller="Laptop" asp-action="Index">Add New Laptop</a> |
</div>
